.page_container {
  position: relative;

  .header_container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 84px;
    padding: 18px 60px;

    .header_icon_container {
      width: 40%;
      align-items: center;
  
      .app_icon {
        height: 17px;
        margin-right: 32px;
        cursor: pointer;
      }
    }
  }


  .hero_section_container {
    min-height: 100%;
    position: relative;

    .hero_main_content {
      position: relative;
      justify-content: center;
      
      .social_container {
        position: absolute;
        left: 0;
      }

      .details_container {
      }
    }

    .hero_bottom_content {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 120px;
    }
  }
}