@import "~Styles/colors.module";
@import "~Styles/mixins.module";

.product_listing_container {
  padding-top: 30px;
  flex: 1;
  align-items: stretch;
  overflow: auto;

  .filter_view_container {
    justify-content: space-between;
    border-bottom: 0.5px solid $color-very-light-blue;
    padding: 4px 22px;

    .filter_container {
      flex-wrap: wrap;

      .filter_item {
        margin-right: 10px;
      }
    }
  }

  .product_list_container {
    padding: 23px 22px 0px;

    .product_list {
      flex-flow: wrap;
    }
  }
}

@include medium {
  .product_listing_container {
    .product_list_container {
      .product_list {
        flex-flow: wrap;
        justify-content: center;
      }
    }
  }
}

@include small {
}

.rtl {
  .product_list_container {
    .product_list {
      flex-direction: row-reverse;
    }
  }
}
