@import '~Styles/colors.module';

.product_listing_container { 
  padding-top: 30px;
  flex: 1;
  align-items: stretch;
  overflow: scroll;

  .filter_view_container {
    justify-content: space-between;
    border-bottom: 0.5px solid $color-very-light-blue;
    padding: 4px 22px;
  }

  .product_list_container {
    padding: 23px 22px 0px;
    flex-flow: wrap;
    overflow: scroll;
    //-ms-overflow-style: none;
    //overflow: -moz-scrollbars-none;
    
    .product {
      width: 200px;
      height: 200px;
    }
  }

  //.product_list_container::-webkit-scrollbar { width: 0 !important }

}