.masonary_container {
  align-items: center;
  .masonary {
    // max-width: 1140px;
    min-width: 1140px;
  }
}

.type1 {
  width: 503px;
  height: 273px;
  margin-top: 3px;
  background-position: center;
  background-size: cover;
}

.type2 {
  width: 310px;
  height: 411px;
  margin-top: 3px;
  background-position: top;
  background-size: cover;
}