@import '~Styles/colors.module';

$capsule-background-color: $color-very-light-blue;

.capsule_container {
  background: rgba($capsule-background-color, 0.4);
  border-radius: 24px;
  padding: 3px 10px;

  .capsule_text {
    font-size: 12px;
    line-height: 2;
    color: $primary-text-color;

    margin-right: 6px;
  }

  .close_icon {

  }
}