@import '~Styles/colors.module';
@import '~Styles/mixins.module';

.top_header {
  padding: 18px 60px;
}

.header_container {
  //height: 84px;
  align-self: stretch;

  .header_icon_container {
    width: 40%;
    align-items: center;

    .app_icon {
      height: 20px;
      cursor: pointer;
    }

    .app_name {
      font-weight: bold;
      margin-left: 6px;
      margin-right: 32px;
      cursor: pointer;
    }
  }
}

.search_bar_container {
  display: none;
  margin-top: 8px;
}


@include medium {
  .top_header {
    padding: 10px 28px;
  }

  .header_container {
    // height: 60px;
  
    .header_icon_container {
      width: 30%;
  
      .app_icon {
        height: 15px;
      }

      .app_name {
        margin-left: 6px;
        margin-right: 18px;
        font-size: 16px;
      }
    }
  }
}


@include small {
  .top_header {
    padding: 8px 20px 12px;
  }

  .header_container {
    // height: 50px;
  
    .header_icon_container {
      width: unset;
  
      .app_icon {
        height: 12px;
      }

      .app_name {
        margin-left: 4px;
        margin-right: 12px;
        font-size: 12px;
      }
    }
  }

  .search_bar_container {
    display: flex;
  }
}

