@import "~Styles/colors.module";
@import "~Styles/mixins.module";

.product_container {
  width: 284px;
  height: 329px;
  margin: 5px;
  align-items: center;

  @include on_click_button;

  border-radius: 2px;
  border: solid 1px rgba($color-very-light-blue, 0.5);
  background-color: var(--white);

  .product_title {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0px 4px 0px;
    color: $primary-text-color;
  }

  .product_description {
    font-size: 12px;
    font-weight: 300;
    color: $primary-text-color;
  }

  .product_image {
    width: 200px;
    height: 200px;
    margin: 14px 0px 14px;
  }

  .product_action_container {
    height: 38px;
    margin-top: auto;
    align-self: stretch;

    .action_text {
      font-size: 12px;
      line-height: 2.8;
      color: $primary-text-color;
      margin-right: 10px;
    }

    .heart_icon_container {
      background: $color-very-light-blue;
      width: 90px;  

      @include on_click_button;

      .wishlist_icon {
        width: 23px;
      }
    }

    /* .view_product_container {
      background: $color-very-light-blue;
      flex: 2;
      border: solid 1px rgba(212, 213, 217, 0.51);

      @include on_click_button;
    } */

    .bag_container {
      background: $color-gold;
      flex: 1;

      @include on_click_button;
    }
  }
}

.is_disabled {
  opacity: 0.5;
}
