
/*----------------------------------------Colors--------------------------------------*/
$color-waikawa-grey: #30384c;
$color-dessert-storm: #efebe7;
$color-orangey-red: #fb5135;
$color-pale: #efebe7;
$color-gold: #d59d15;
$color-light-blue-grey: #D4D5D9;
$color-very-light-blue: #e6eaee;
$color-bluey-grey : #979ba5;
$color-battleship-grey: #727374;
$color-dark-grey: #202124;
$color-green-apple: #44d515;

$primary-color: #2f3744;
$primary-text-color: $color-waikawa-grey;
$capsule-button-color: $color-gold;