
/*----------------------------------------Colors--------------------------------------*/
$color-waikawa-grey: #30384c;
$color-dessert-storm: #efebe7;
$color-orangey-red: #fb5135;
$color-pale: #efebe7;
$color-gold: #d59d15;
$color-very-light-blue: #e6eaee;
$color-bluey-grey : #979ba5;
$color-battleship-grey: #727374;

$primary-color: #2f3744;
$primary-text-color: $color-waikawa-grey;
