@import '~Styles/colors.module';

.exhibition_details_container {
  align-items: flex-start;
  max-width: 400px;

  .exhibition_number_text {
    opacity: 0.5;
    font-size: 18px;
    font-weight: 300;
    color: $primary-text-color;
  }

  .exhibition_name_text {
    font-family: PlayfairDisplay;
    font-size: 50px;
    font-weight: 900;
    line-height: 1.12;
    color: $primary-text-color;
  }

  .small_divider {
    width: 30px;
    height: 2px;
    background-color: $color-orangey-red;
    margin: 20px 0px;
  }

  .price_text {
    margin-top: 12px;
    font-size: 28px;
    font-weight: 900;
    color: $primary-text-color;
  }
  
  .exhibition_description_text {
    font-size: 16px;
    line-height: 1.5;
    color: $primary-text-color;
    margin: 16px 0px 25px 0px;
  }
}