@import "~Styles/colors.module";
@import "~Styles/mixins.module";

$submit-button-background: $color-gold;

.page_container {
  flex: 1;
  align-self: stretch;

  .form_container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    .input_text {
      margin-bottom: 18px;
      min-width: 393px;
    }

    .input_submit {
      border-radius: 28px;
      min-height: 56px;
      box-shadow: 0 18px 24px 0 rgba(0, 0, 0, 0.12);
      background-color: var(--gold);
      min-width: 219px;
      margin: 30px 0px 34px 0px;
      border: none;

      font-size: 18px;
      font-weight: 900;
      color: white;
      background: $submit-button-background;
    }
  }

  .signin_title_text {
    font-family: PlayfairDisplay;
    font-size: 50px;
    font-weight: bold;

    margin-bottom: 7px;
  }
  .signin_subtitle_text {
    margin-bottom: 30px;
  }

  .hyper_link {
    text-decoration: underline !important;
    color: $primary-text-color;
    text-transform: uppercase;

    opacity: 0.6;
    font-size: 14px;
  }

  .create_account_container {
    margin-top: 15px;
    font-size: 14px;
    color: $primary-text-color;
  }

  .new_description_text {
    opacity: 0.6;
  }
}

@include medium {
  .page_container {
    .form_container {
      .input_text {
        margin-bottom: 16px;
        min-width: 350px;
      }

      .input_submit {
        min-height: 46px;
        min-width: 175px;
        margin: 30px 0px 34px 0px;
        font-size: 16px;
      }
    }

    .signin_title_text {
      font-size: 40px;
      margin-bottom: 42px;
    }

    .hyper_link {
      font-size: 12px;
    }

    .create_account_container {
      margin-top: 13px;
      font-size: 12px;
    }
  }
}

@include small {
  .page_container {
    .form_container {
      .input_text {
        margin-bottom: 14px;
        min-width: 300px;
      }

      .input_submit {
        min-height: 42px;
        min-width: 148px;
        margin: 28px 0px 32px 0px;
        font-size: 14px;
      }
    }

    .signin_title_text {
      font-size: 36px;
      margin-bottom: 38px;
    }
  }
}
