@import '~Styles/colors.module';
.details_container {
    overflow: scroll;
    
  .reset_password_button {
    margin-right: 16px;
  }

  .field_container:first-child {
    border-top: none;
  }

  .field_container {
    padding: 17px 46px;
    border-top: 0.5px solid #ededed;

    .title {
      opacity: 0.8;
      font-size: 18px;
      font-weight: 300;
      color: $primary-text-color;    
    }

    .value {
      opacity: 0.8;
      font-size: 18px;
      font-weight: bold;
      color: $primary-text-color;
    }
  }
}