@import '~Styles/colors.module';
@import '~Styles/mixins.module';

.component_container {
  height: 430px;
  width: 1024px;
  margin-bottom: 150px;
  align-self: center;
  align-items: flex-end;
  background: rgba($color-very-light-blue, 0.9);

  .content_container {
    align-self: stretch;
    justify-content: flex-end;
    padding: 61px 0px 35px 30px;

    .contents {
      padding: 0px 0px 60px 30px;
      max-width: 320px;
      
      .title {
        font-size: 28px;
        font-weight: bold;
        color: $primary-text-color;
      }

      .divider {
        width: 100px;
        height: 2px;
        background-color: #d2dce7;
        margin: 20px 0px 16px;
      }

      .description {
        font-size: 14px;
        font-weight: bold;
        color: rgba($primary-text-color, 0.7);
      }

      .time_text {
        opacity: 0.8;
        font-size: 14px;
        font-weight: bold;
        color: $color-gold;
        margin-top: auto;
      }
    }
  }
 
  .image {
    width: 560px;
    height: 430px;
    //z-index: 2;
    object-fit: cover;
  }

  .arrow_container {
    // margin-left: 40px;
    // margin-bottom: 20px;
    z-index: 10;

    .arrow_left {
      margin-right: 9.5px;
      transform: scaleX(-1);
      width: 35px;
      cursor: pointer;
    }

    .arrow_right {
      width: 35px;
      margin-left: 20px;
      cursor: pointer;
    }
  }
}

.disabled {
  opacity: 0.3;
}

@include large {
  .component_container {
    height: 330px;
    width: 870px;
  
    .content_container {
      padding: 50px 0px 28px 25px;

      .contents {
        padding: 0px 0px 30px 20px;
        max-width: 280px;

        .title {
          font-size: 22px;
        }
        .divider {
          width: 100px;
          height: 2px;
          margin: 30px 0px 18px;
        }
        .description {
          font-size: 12px;
        }
        .time_text {
          font-size: 12px;
        }
      }
    }
   
    .image {
      width: 460px;
      height: 330px;
    }
  
    .arrow_container {
      .arrow_left {
        margin-right: 9.5px;
        width: 28px;
      }
  
      .arrow_right {
        width: 28px;
        margin-left: 16px;
      }
    }
  }
}



@include small {

}
