@import '~Styles/colors.module';

.component_container {
  margin: 0px 150px;
  min-height: 430px;
  min-width: 980px;
  margin-bottom: 200px;
  align-self: center;
  align-items: flex-end;
  position: relative;

  .content_container {
    position: absolute;
    top: 0;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: rgba($color-very-light-blue, 0.9);
    justify-content: flex-end;
    padding: 61px 65px 35px 0px;

    .contents {
      max-width: 320px;

      .title {
        font-size: 28px;
        font-weight: bold;
        color: $primary-text-color;
      }

      .divider {
        width: 100px;
        height: 2px;
        background-color: #d2dce7;
        margin: 30px 0px 18px;
      }

      .description {
        font-size: 14px;
        font-weight: bold;
        color: rgba($primary-text-color, 0.7);
      }

      .time_text {
        opacity: 0.8;
        font-size: 14px;
        font-weight: bold;
        color: $color-gold;
        margin-top: 48px;
      }
    }
  }
 
  .image {
    width: 50%;
    // width: 713px;
     height: 430px;
    z-index: 2;
    object-fit: cover;
  }

  .arrow_container {
    margin-left: 40px;
    margin-bottom: 20px;
    z-index: 10;

    .arrow_left {
      margin-right: 9.5px;
      transform: scaleX(-1);
      width: 35px;
      cursor: pointer;
    }

    .arrow_right {
      width: 35px;
      margin-left: 20px;
      cursor: pointer;
    }
  }
}

.disabled {
  opacity: 0.3;
}
