@import "~Styles/colors.module";

$input-text-background: $color-very-light-blue;

.input_text {
  border: none;
  background: rgba($input-text-background, 0.4);
  border-radius: 24px;
  padding: 16px 28px;

  line-height: 1.33;
  font-size: 18px;
  color: $primary-text-color;
}

.input_text::placeholder {
  color: $primary-text-color;
}

.input_text:focus {
  outline: none;
}