@import "~Styles/colors.module";
@import "~Styles/mixins.module";

$bag-count-background: $color-pale;

.header_container {
  flex: 1;
  align-items: center;

  .header_item_container {
    margin-left: 30px;
  }

  .header_item_container:first-child {
    margin-left: 0px;
  }

  .header_icon {
    height: 25px;
    cursor: pointer;
  }

  .sigin_link {
    color: $primary-text-color;
    font-size: 18px;
  }

  .is_white {
    color: white;
  }

  // .hamburger_icon {
  //   height: 19px;
  // }

  .bag_count {
    width: 24px;
    height: 24px;
    font-size: 12px;
    margin-left: 10px;
    color: $primary-text-color;
    border-radius: 100px;
    background: rgba($bag-count-background, 0.5);
  }

  .profile_pic {
    border-radius: 100px;
    width: 32px;
    height: 32px;
    object-fit: contain;
  }

  // .arrow_down_icon {
  //   width: 10px;
  //   height: 5.7px;
  //   object-fit: contain;
  //   margin-left: 10px;
  // }
}

@include medium {
  .header_container {
    justify-content: flex-end;

    .header_item_container {
      margin-left: 20px;
    }

    .sigin_link {
      font-size: 14px;
    }

    .header_icon {
      height: 20px;
    }

    .profile_pic {
      width: 26px;
      height: 26px;
    }
  }

  .rtl {
    .header_item_container {
      margin-left: 0px !important;
      margin-right: 20px !important;
    }
    .bag_count {
      margin-left: 0px !important;
      margin-right: 6px !important;
    }
    .header_overlay {
      right: auto;
      left: 21px !important;
      top: 40px;
    }
  }
}

@include small {
  .header_container {
    .header_item_container {
      margin-left: 10px;
    }

    .sigin_link {
      font-size: 12px;
    }

    .header_icon {
      height: 15px;
    }
    .profile_pic {
      width: 20px;
      height: 20px;
    }

    .search_bar_container {
      display: none;
    }
  }

  .rtl {
    .header_item_container {
      margin-left: 0px !important;
      margin-right: 10px !important;
    }
    .bag_count {
      margin-left: 0px !important;
      margin-right: 4px !important;
    }

    .header_overlay {
      right: auto;
      left: 21px !important;
      top: 40px;
    }
  }
}

.profile_header_item:hover + .header_overlay {
  visibility: visible;
}

.header_overlay {
  visibility: hidden;
  position: absolute;
  min-width: 200px;
  padding: 20px 0px;
  background: white;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  right: 50px;
  top: 60px;
  z-index: 10;

  .header_item {
    padding: 10px 20px;
    font: 16px;

    &:hover {
      background: rgba(black, 0.2);
      cursor: pointer;
    }
  }

  &:hover {
    visibility: visible;
  }
}

.rtl {
  .header_item_container {
    margin-left: 0px;
    margin-right: 30px;
  }
  .bag_count {
    margin-left: 0px !important;
    margin-right: 10px !important;
  }

  .header_overlay {
    right: auto;
    left: 50px;
  }
}
