@import "~Styles/colors.module";

.address_container {
  //  overflow-y: auto;

  .section_container:first-child {
    .header_container {
      border-top: none;
    }
  }

  .section_container {
    margin-top: 32px;
  }
}

.rtl {
  direction: rtl;
}
