@import '~Styles/colors.module';

.header_container {
  padding: 10px 0px 50px 0px;

  .sub_title {
    font-size: 14px;
    font-weight: 300;
    color: $color-orangey-red;
    text-align: center;
  }
  
  .title {
    font-family: PlayfairDisplay;
    font-size: 50px;
    font-weight: 900;
    color: $primary-text-color;
    text-align: center;
  }  
}
