@import "~Styles/colors.module";
@import "~Styles/mixins.module";

$capsule-button-background-color: $color-gold;

.exhibition_item_container {
  width: 100%;
  height: 100%;
  align-items: center;

  .exhibition_image {
    height: 60vh; /* Media query set images */
  }

  .details_container {
    margin-left: 100px;
  }

  .view_exhibition_button {
    border-radius: 28px;
    box-shadow: 0 18px 24px 0 rgba(0, 0, 0, 0.12);
    color: white;
    font-size: 18px;
    font-weight: 900;
    background-color: $capsule-button-background-color;
    padding: 12px 47px;

    @include on_click_button;
  }
}
