@import '~Styles/colors.module';

.page_container {
  // width: 100%;
  // height: 100%;
  // background: $primary-color;
  overflow-y: scroll;

  .content_container {
    // margin: 14px;
    background: white;
    // overflow: scroll;
    overflow-y: scroll;
  }
}

.inner_content_container {
  overflow-y: scroll;
}


.content {
  // min-height: 100%
}
