@import '~Styles/colors.module';

.home_container {
  position: absolute;
  top: 84px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 20px;

  .content_container {
    flex: 1;
    align-self: stretch;

    .social_container {
      margin-left: 9%;
      margin-right: 61px;
      align-items: center;
      justify-content: center;

      .social_item_container {
        background: rgba(black,0.1);
        border-radius: 50px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        .social_image {
          width: 20px;
          height: 20px;
        }

      }

      .social_item_container:first-child {
        margin-top: 0px;
      }
    }    
  }

  .footer_container {
    height: 40px;
    margin: 16px 0px 16px 0px;

    .left_container {
      width: 28%;
      justify-content: center;
      align-items: center;
    }

    .right_container {
      flex: 1;
      align-items: center;
      padding: 0px 67px 0px 130px;

      .arrow_text {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.33;
        color: $primary-text-color;
        display: flex;
        align-items: center;

        
        .arrow_left {
          margin-right: 9.5px;
        }

        .arrow_right {
          margin-left: 9.5px;
        }
      }      

      .arrow_text:first-child {
        margin-right: 40px;
      }


      .pagination_count_container {      
        margin-left: 67px;  
        margin-top: -6px;

        .pagination_current_count {
          font-size: 32px;
          line-height: 1.94;
          color: $primary-text-color;
        }

        .pagination_total_count {
          font-size: 18px;
          line-height: 1.33;
          color: $primary-text-color;  
        }
      }

      .share_icon {
        margin-left: auto;
        width: 36px;
        height: 36px;
        object-fit: contain;
      }
    }
  }
}


.swiper_item {
  height: 100%;
  width: 100%;
}

:global {
  .custom_container {
    width: 100%;
    height: 100%;
  }
}