.home_container {
  position: absolute;
  top: 84px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 20px;

  .content_container {
    flex: 1;
    align-self: stretch;

    .social_container {
      margin-left: 9%;
      margin-right: 61px;
      align-items: center;
      justify-content: center;

      .social_item_container {
        background: rgba(black,0.1);
        border-radius: 50px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        .social_image {
          width: 20px;
          height: 20px;
        }

      }

      .social_item_container:first-child {
        margin-top: 0px;
      }
    }    
  }

  .footer_container {
    height: 40px;
    margin: 16px 0px 16px 0px;
  }
}