@import '~Styles/mixins.module';

.black {
  color: black;
}

.white {
  color: white;
}

.language_item_text {
  font-size: 18px;
  font-weight: 500;

  @include on_click_button;
}

.divider {
  font-size: 18px;
  font-weight: 500;
}

.not_selected {
  opacity: 0.3;
}


@include medium {
  .language_item_text {
    font-size: 16px;
  }
  
  .divider {
    font-size: 16px;
  }
}

@include small {
  .language_item_text {
    font-size: 12px;
  }
  
  .divider {
    font-size: 12px;
  }
}