@import '~Styles/mixins.module';

.black {
  color: black;
}

.white {
  color: white;
}

.language_item_text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;

  @include on_click_button;
}

.divider {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
}

.not_selected {
  opacity: 0.3;
}