.page_container {
  padding: 80px 44px 0px 70px;
  overflow: scroll;

  .page_title {
    font-family: PlayfairDisplay;
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin-bottom: 22px;
  }

  .faq_container:first-child {
    border-top: 1px solid rgba(black, 0.2);
  }

  .faq_container {
    border-bottom: 1px solid rgba(black, 0.2);

    .faq_title_container {
      padding: 17px 0px;
      cursor: pointer;

      .faq_title {
        flex: 1;

        font-size: 20px;
        font-weight: normal;
        color: black;
      }
  
      .title_close_icon {
        height: 14px;
        visibility: hidden;
      }
    }

    .faq_description {
      margin-bottom: 31px;
      font-size: 20px;
      font-weight: 300;
      color: black;
      display: none;
    }
  }

  
  .is_selected {
    .faq_title_container {
      .faq_title {
        font-weight: 300;
      }

      .title_close_icon {
        visibility: visible;        
      }
    }

    .faq_description {
      display: unset;
    }
  }

}
