@import '~Styles/colors.module';
@import '~Styles/mixins.module';

.exhibition_item_container {
  width: 426px;
  margin: 5px 10px;
  border: solid 0.5px rgba($primary-text-color, 0.1);
  background-color: rgba($color-very-light-blue, 0.9);

  .exhibition_image {
    min-width: 164px;
    width: 164px;
    height: 164px;
    object-fit: cover;
  }

  .exhibition_details_container {
    padding: 9px;

    .exhibition_name {
      font-family: PlayfairDisplay;
      font-size: 18px;
      font-weight: 900;
      color: $primary-text-color;

      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .exhibition_details {
      font-size: 10px;
      margin: 6px 0px;
      color: $primary-text-color;

      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .capsule_container {

      .capsule {
        font-size: 10px;
      }
    }

    .view_exhibition_button {
      margin-top: auto;
      align-self: flex-end;
    }
  }
}

.rtl { 
  text-align: right;
  flex-flow: row-reverse;

  .exhibition_details_container {
    .capsule_container {
      justify-content: flex-end;
    }
    .view_exhibition_button {
      align-self: flex-start;
    }
  }
}

@include small {
  .exhibition_item_container {
    width: unset;
    flex-direction: column;
    margin: 10px 0px 0px;
    align-items: center;
    text-align: center;
    width: 300px;

    .exhibition_image {
      min-width: 164px;
      width: 164px;
      height: 164px;
    }
  
    .exhibition_details_container {
      padding: 9px;
  
      .exhibition_name {
        font-size: 16px;
      }
  
      .exhibition_details {
        font-size: 10px;
        margin: 6px 0px;
      }
  
      .capsule_container {
        justify-content: center;
        .capsule {
          font-size: 10px;
        }
      }
  
      .view_exhibition_button {
        margin-top: 8px;
        align-self: center;
      }
    }
  }
}
