@import '~Styles/colors.module';

.exhibition_item_container {
  width: 426px;
  margin: 5px 10px;
  border: solid 0.5px rgba($primary-text-color, 0.1);
  background-color: rgba($color-very-light-blue, 0.9);

  .exhibition_image {
    min-width: 164px;
    width: 164px;
    height: 164px;
    object-fit: cover;
  }

  .exhibition_details_container {
    padding: 9px;

    .exhibition_name {
      font-family: PlayfairDisplay;
      font-size: 18px;
      font-weight: 900;
      color: $primary-text-color;

      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .exhibition_details {
      font-size: 10px;
      margin: 6px 0px;
      color: $primary-text-color;

      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .capsule_container {

      .capsule {
        font-size: 10px;
      }
    }

    .view_exhibition_button {
      margin-top: auto;
      align-self: flex-end;
    }
  }
}