@import "~Styles/colors.module";
@import '~Styles/mixins.module';

.flex_2 {
  flex: 2;
}

.flex_1 {
  flex: 1;
}

.coupon_header_text {
  font-size: 12px;
  font-weight: bold;
  color: white;
  margin: 24px 0px 10px;
}

.checkout_container {
  padding: 20px 60px 0px;
  overflow: scroll;

  .cart_list_container {
    flex: 1;
    padding-right: 50px;
    overflow: scroll;

    .table_header {
      padding: 8px;
      font-size: 12px;
      font-weight: bold;
      line-height: 2;
      color: $primary-text-color;
      border-bottom: 1px solid #ededed;
    }

    .table_content_container {
      // overflow: scroll;
    }
  }

  .price_details_container {
    padding: 6px 0px;

    .title {
      font-size: 12px;
      font-weight: 300;
      color: white;
      opacity: 0.8;
    }

    .value {
      font-size: 12px;
      font-weight: 300;
      color: white;
      opacity: 0.8;
      margin-left: auto;
    }
  }

  .price_divider {
    margin-top: 12px;
  }

  .capsule_button {
    padding: 12px 0px;
    align-self: stretch;
    font-size: 18px;
    font-weight: 900;
    color: white;
    text-transform: capitalize;
    margin-top: 19px;
  }
}

.empty_page_container {
  margin-top: 24px;
}


@include large {
  .checkout_container {
    padding: 20px 40px 0px;
  }

  .exhibition_header {
    display: none;
  }
}

@include medium{
  .checkout_container {
    flex-direction: column;
    padding: 20px 30px 0px;

    .cart_list_container {
      padding-right: 0px;
    }
  }
}

@include small {
  .checkout_container {
    padding: 10px 10px 0px;
  }

  .total_price_header {
    display: none;
  }
}
