html {
  height: 100%;
  width: 100%; 
}
#root {
  height: 100%;
  width: 100%; 
}

body {
  height: 100%;
  width: 100%; 
  margin: 0;
  font-family: Lato;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

::-webkit-scrollbar { width: 0 !important }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
